:root{
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charchoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --gradient: linear-gradient(45deg, rgba(255,98,87,1) 0%, rgba(255,98,87,1) 55%, rgba(255,74,0,1) 100%);
}

@font-face {
  font-family: Roboto ;
  src: url(assets/fonts/Roboto-Regular.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

body{
  font-family: Roboto;
  font-size: 16px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-slate-grey);
}

.mobile-img{
  display: none;
}

.hidden{
  display: none !important;
}

/* SIGNUP FORM */

.signup{
  width: 700px;
  display: flex;
  background-color: var(--white);
  padding: 10px 0;
  border-radius: 15px;
}

.left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin-left: 10px;
  padding: 0px 40px;
}

.left h1{
  margin-bottom: 10px;
}

.left p{
  margin-bottom: 10px;
}

.left ul li{
  display: flex;
}

.left ul li img:not(.last-li-img){
  margin-right: 10px;
  transform: translateY(-12px);
}

.last-li-img{
  margin-right: 10px;
  margin-bottom: 10px;
}

.left ul li:last-of-type{
  margin-bottom : 10px;
}

form{
  display: flex;
  flex-direction: column;

}

.left form label{
  font-weight: bold;
  margin-bottom: 5px;
}

.left form input[type="email"]{
  height: 40px;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 1px solid var(--grey);
  border-radius: 4px;;
}

button{
  height: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--charchoal-grey);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover{
  background: var(--gradient);
  box-shadow: 4px 2px 10px var(--tomato);
}

.right{
  margin-left: 5px;
  display: block !important;
}

/* SUCCESS CONTAINER */

.success{
  width: 350px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 20px;
}

.success img{
  margin-bottom: 20px;
}

.success h1{
  margin-bottom: 20px;
}

.success p{
  margin-bottom: 20px;
}

.success button{
  margin-bottom: 10px;
}

#mail{
  font-weight: bold;
}

@media only screen and  (max-width: 710px){
  .signup{
    padding: 0;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
  }

  .right, .left{
    margin: 0 ;
  }

  .right{
    width: 40%;
  }

  .right img{
    width: 100%;
  }

  .left{
    width: 50%;
    padding: 0;
    font-size: 12px;
  }

  .left ul li img:not(.last-li-img){
    width: 15px;
    margin-top: 10px;;
  }

  .last-li-img{
    width: 15px;
  }
}

@media only screen and (max-width: 568px) and (min-width: 429px){
  .left form input[type="email"]{
    height: 25px;
  }

  .left ul li{
    margin-bottom: 0px;
  }

  .left ul li:last-of-type{
  margin-bottom : 0;
}

  .signup button {
    height: 25px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 428px) {
  body{
    display: block;
  }

  .signup{
    height: 100vh;
    flex-direction: column-reverse;
    justify-content:flex-end;
    align-items: center;
    padding: 0;
    width: 100%;
    border-radius: 0;
  }

  .left{
    width: 90%;
    margin-top: 50px;
    font-size: 16px;
  }

  .right{
    align-self: flex-start;
    width: 100%;
  }

  .mobile-img{
    display: block;
  }

  .desktop-img{
    display: none;
  }

  .left h1{
    margin-bottom: 20px;
  }

  .left ul{
    margin-bottom: 20px;
  }

  .left form label{
    margin-bottom: 10px;
  }

  .left form input[type="email"]{
    margin-bottom: 20px;
  }

   .left ul li img:not(.last-li-img){
    width: 20px;
    margin-bottom: 10px;
  }

  .last-li-img{
    width: 20px;
  }

  .success{
    height: 100%;
    border-radius: 0;
    width: 100%;
  }

  .success img{
    margin: 90px 0 30px 0;
  }

  .success button{
    margin-top: auto;
    margin-bottom: 25px;
    height: 45px;
  }

  .attribution{
    display: none;
  }
}
  
